body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    animation: fadeIn 0.5s ease;
}

form {
    max-width: 70%;
    margin: 0 auto;
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-row {
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease;
}

label {
    font-weight: bold;
    color: #555555;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="url"],
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #555555;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    animation: slideIn 0.5s ease;
    transition: all 0.5s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    border-color: lightblue;
    box-shadow: 0 0 0.5rem rgba(0, 123, 255, 0.5);
    outline: lightblue;
    
    transform: scale(1.05)
}